<dg-modal #modal title="Produto" (afterClose)="clear()">
  <div modal-body>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-8">
          <label class="form-label">Produto</label>
<!--          <input class="form-control" formControlName="produto">-->

          <dg-autocomplete
            classes="form-control"
            formControlName="produto"
            label="nome"
            typeFilter="outside"
            [data]="listProdutos"
          >
          </dg-autocomplete>
        </div>
        <div class="col-4">
          <label class="form-label">Quantidade</label>
          <input class="form-control" formControlName="quantidade">
        </div>
      </div>
    </form>
  </div>
  <div modal-footer>
    <button (click)="close()" class="btn btn-secondary m-1">Sair</button>
    <button (click)="save()" class="btn btn-success m-1">Salvar</button>
    <button (click)="save(true)" class="btn btn-success m-1">Salvar e adiconar próximo</button>
  </div>
</dg-modal>
