@import '~src/app/layouts/user-layout/components/variables-sidebar';
@import '~src/assets/scss/variables';

::ng-deep .page-footer {
  transition: all $sidebar-transition-open-close;
  position: fixed;
  top: auto;
  left: $sidebar-size-close;
  width: calc(100% - #{$sidebar-size-close});
  bottom: 0;
  height: 4.5rem;
  border-top: #C9C9C9FF solid 1px;
  background-color: rgb(215, 215, 215);
  padding: 0;
  margin: 0;

  &.sidebar-opened {
    left: $sidebar-size-open !important;
    width: calc(100% - #{$sidebar-size-open});
  }

  .row-btn {
    padding: 1rem 2rem 1rem 2rem;
    height: 100% !important;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }
  button {
    margin: 0 .25rem !important;
  }

  @media #{$md-layout} {
    height: auto;

    .row-btn {
      padding: .5rem 2rem .5rem;
    }

    &.sidebar-opened {
      left: $sidebar-size-close !important;
      width: calc(100% - #{$sidebar-size-close});
    }
  }

  @media #{$sm-layout} {
    left: 0;
    width: 100%;
    height: auto;

    .row-btn {
      padding: .5rem 2rem .5rem;
    }
  }
}
