@import "../variables";

.crud-table, .dg-table {
  margin: 0 !important;
  width: 100% !important;

  thead {

    th {
      //color: # !important;
      font-weight: bold;
      font-size: 11pt;
      text-align: start;
    }
    table-colum-fixed-end, .mat-column-actions {
      align-items: center !important;
      text-align: center !important;
    }
  }

  tbody {
    td {
      text-align: start;
      padding: .8rem 0;
      color: grey;
    }

    .table-colum-fixed-end, .mat-column-actions {
      align-items: center !important;
      min-height: 100% !important;
      height: 100% !important;
      text-align: center;
    }

    tr:hover {
      background-color: rgba(128, 128, 128, 0.1);
    }
  }

  .button-menu {

  }
}


.dg-table {
  td {
    .status {
      --bs-bg-opacity: .5;
      border-radius: 15px;
      font-size: 9pt;
    }
  }
}

.dg-table.table-locacao {
  tr:has(> td.locacao-vencendo) {
    background: rgba(234, 234, 39, 0.5);
  }
  tr:has(> td.locacao-vencendo-hoje) {
    background: rgba(68, 68, 68, 0.3);
  }

  tr:has(> td.locacao-atrazada) {
    background: rgba(255, 0, 0, 0.3);
  }
}

.dg-table tbody .td-loader td {
  text-align: center;
}
