<div class="container">
  <card>
    <div class="card-header">
      <h4 class="card-title">Categoria</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-12">
            <label id="nome" class="form-label">Nome da Categoria</label>
            <input class="form-control" type="text" formControlName="nome">
          </div>
        </div>

        <div class="row">
          <h5>Deseja que este produto seja anunciado no site?</h5>
          <div class="col-6">
            <input class="form-check-input" type="radio" id="visivel" formControlName="disponivelSite" [value]="true">
            <label class="form-check-label" for="visivel">
              Sim
            </label>
          </div>
          <div class="col-6">
            <input class="form-check-input" type="radio" id="invisivel" formControlName="disponivelSite" [value]="false">
            <label class="form-check-label" for="invisivel">
              Não
            </label>
          </div>
        </div>

      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" crud-salvar>Salvar</button>
      <button class="btn btn-secondary" crud-voltar>voltar</button>
    </div>
  </card>
</div>
