<dg-modal
  #modal
  title="Contato"
  [afterClose]="close"
>
  <div dg-content>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12">
          <label class="form-label">Descrição</label>
          <input type="text" id="descricao" formControlName="descricao" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <label class="form-label">Telefone</label>
          <input type="text" id="telefone" formControlName="telefone" class="form-control" mask="(00) 0000-0000||(00) 00000-0000">
        </div>
        <div class="col-7">
          <label class="form-label">E-mail</label>
          <input type="email" id="email" formControlName="email" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div dg-footer>
    <button class="btn btn-success" (click)="salvar()">Salvar</button>
    <button class="btn btn-secondary" (click)="modal.close()">Salir</button>
  </div>
</dg-modal>
