<div id="page-clientes" class="container">

  <card>
    <div class="card-header">
      <h4 class="card-title">Lançamentos</h4>
    </div>
    <div class="card-body">
      <crud-data-table
        [entityMap]="entity"
        tableEventId="LancamentoEntity"
      >
      </crud-data-table>
    </div>
  </card>
</div>

<page-footer>
  <button class="btn btn-success" (click)="modalLancamentos.addReceita()">Adicionar Receita</button>
  <button class="btn btn-danger" (click)="modalLancamentos.addDespesa()">Adicionar Despesa</button>
</page-footer>


<subComponent-modal-lancamento
  #modalLancamentos
></subComponent-modal-lancamento>
