//@import "../../../../../assets/scss/variables";

/**
    Estilização de componente modal

    1 - root
    2 - modal
    3 - body
    4 - modal footer
    5 - animação
    6 - ajuste grid
 */

::ng-deep .dg-modal {
  /* 1 - ROOT */
  display: none;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  min-width: 100%; /* Full width */
  min-height: 100%; /* Full height */
  max-height: 100%; /* Full height */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1001 !important;

  .root-modal{
    position: relative;
    display: flex;
    height: 100%;
    max-height: 100%;
    width: 100%;
  }

  &.open {
    display: block;

    .modal-content {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animateOpen;
      -webkit-animation-duration: 0.4s;
      animation-name: animateOpen;
      animation-duration: 0.4s
    }
  }

  &.close {
    .modal-content {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animateClose;
      -webkit-animation-duration: 0.4s;
      animation-name: animateClose;
      animation-duration: 0.4s;
    }
  }

  /** 2 - MODAL */

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;

    &.xs {
      width: 25%;
    }

    &.sm {
      width: 30%;
      max-height: 90%;
    }
    &.md {
      width: 50%;
      max-height: 90%;
    }
    &.lg {
      width: 75%;
      max-height: 90%;
    }
    &.xl {
      width: 90%;
      max-height: 95%;
    }
    &.full {
      width: 100%;
      max-height: 100%;
      height: 100%;
    }

    &.alignV-top {
      margin-top: 2%;
      margin-bottom: auto;
    }
    &.alignV-bottom {
      margin-top: auto;
      margin-bottom: 2%;
    }
    &.alignV-center {
      margin-top: auto;
      margin-bottom: auto;
    }

    &.alignH-left {
      margin-left: 5%;
      margin-right: auto;
    }
    &.alignH-right {
      margin-left: auto;
      margin-right: 5%;
    }
    &.alignH-center {
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* 3 - MODAL BODY */

  .modal-body {
    padding: 25px 35px;
    max-height: 500px;
    overflow-y: auto;
  }

  .modal-header {
    //padding:20px;
    //background-color: #284E96;
    //color: white;

    .header-row-close-button {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: none !important;
        border: black 3px solid !important;
        color: black !important;
        border-radius: 20px;


        mat-icon {
          display: inline-flex !important;
          justify-content: center !important;
          align-items: center !important;
          color: black !important;
          margin: 0 !important;
          padding: 0 !important;
        }

        &:hover {
          background: none !important;
        }
      }
    }
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    background-color: white;
  }

  .h2-header-text{
    font-size:14pt;
    margin: 0 !important;
    padding: 0 !important;
  }

  .span-header-text{
    margin-top:10px;
    font-size: initial;
  }


  /* 4 - modal footer */



  /* 5 - animação */

  @-webkit-keyframes animateOpen {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animateOpen {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @-webkit-keyframes animateClose {
    from {top: 0; opacity: 1}
    to {top: -300px; opacity:0; display: none}
  }

  @keyframes animateClose {
    from {top: 0; opacity: 1}
    to {top: -300px; opacity:0; display: none}
  }

}
