::ng-deep .dg-table {
  td.locacao-vencendo {
    background: rgba(234, 234, 39, 0.5);
  }
  td.locacao-vencendo-hoje {
    background: rgba(68, 68, 68, 0.3);
  }
  td.locacao-atrazada {
    background: rgba(255, 0, 0, 0.3);
  }
}
